name: release

on:
  workflow_dispatch:
    inputs:
      level:
        description: "release sem-level [-p|-m|-M]"
        required: true
        default: "-p"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: git config
        run: |
          git config --global user.name 'Baris Yuksel'
          git config --global user.email 'brsyuksel@users.noreply.github.com'

      - name: install semver script
        run: |
          wget https://raw.githubusercontent.com/fmahnke/shell-semver/master/increment_version.sh
          chmod +x ./increment_version.sh
      
      - name: install toml-cli
        run: |
          wget https://github.com/gnprice/toml-cli/releases/download/v0.2.3/toml-0.2.3-x86_64-linux.tar.gz
          tar zxvf toml-0.2.3-x86_64-linux.tar.gz
      
      - name: get current version
        run: |
          echo "CURRENT_VERSION=$(./toml-0.2.3-x86_64-linux/toml get wghttp/Cargo.toml package.version --raw)" >> $GITHUB_ENV
      
      - name: bump version
        run: |
          echo "NEXT_VERSION=$(./increment_version.sh $RELEASE_LEVEL $CURRENT_VERSION)" >> $GITHUB_ENV
        env:
          RELEASE_LEVEL: ${{ inputs.level }}

      - name: update wghttp/Cargo.toml
        run: |
          ./toml-0.2.3-x86_64-linux/toml set wghttp/Cargo.toml package.version $NEXT_VERSION > wghttp/Cargo.toml.new
          mv -v wghttp/Cargo.toml.new wghttp/Cargo.toml
      
      - name: commit and push
        run: |
          rm -Rfv toml-0.2.3-x86_64-linux*
          git add wghttp/Cargo.toml
          git commit -m "bump version"
          git push
          git tag "v${NEXT_VERSION}"
          git push --tags
